@charset "UTF-8";

@font-face {
  font-family: 'GoryeongStrawberry';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GoryeongStrawberry.eot);
  src: url(../fonts/GoryeongStrawberry.eot?#iefix) format('embedded-opentype'), 
  url(../fonts/GoryeongStrawberry.woff) format('woff'), 
  url(../fonts/GoryeongStrawberry.ttf) format('truetype');
}
@font-face {
  font-family: 'SBAggroB';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SBAggroB.eot);
  src: url(../fonts/SBAggroB.eot?#iefix) format('embedded-opentype'), 
  url(../fonts/SBAggroB.woff) format('woff'), 
  url(../fonts/SBAggroB.ttf) format('truetype');
}

/* 폰트 브라우저 비율 설정 */
html { font-size: 62.5%; }

/* 포인트 폰트 */
:root {
  --color-point01: #A8A2E0;
  --color-point02: #2c9b78;
  --color-point03: #fbf4a4;
  --color-point04: #3a466a;
  --color-point05: #b4450e;
  --color-point06: #c8a666;
  --color-point07: #341c3c;
  --color-point08: #1ecad3;
}

/* 반응형, 모바일에서 모든요소의 패딩,선을 크기안에 포함시킴 */
*,:before,:after { box-sizing: border-box; }

/* body에 들어갈수있는 모든태그의 여백빼기 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video { margin: 0; padding: 0; }

/* html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main { display: block; }

/* button태그에 손모양 커서 */
button {  cursor: pointer; }
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img { border: 0; vertical-align: top; }

/* 모바일, 반응형에서 이미지가 원본보다 커지지않게함 */
img { max-width: 100%; }
/* 리스트 기호 빼기 */
ol,ul { list-style: none; }
/* 태그 기본 기울임꼴 제거 */
address,em { font-style: normal; }
strong { font-weight: normal; }
/* 벤더프리픽스: 브라우저 제조사를 의미 */
/* -webkit- 크롬, 사파리, 다른브라우저에서 사용하기도함 */
a { text-decoration: none; color: #222; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }
/* iframe으로 외부컨텐츠를 연결했을때 외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌*/
iframe { overflow: hidden; border: 0; }
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table { border-collapse: collapse; border-spacing: 0; width: 100%; table-layout: fixed; }
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 100%; }
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴, ios 둥근모서리, 기본스타일 제거 */
/* border-radius:0 -> iOS에서 테두리가 둥글게 나오므로 빼줌 */
/* -webkit-appearance: none -> iOS에서 폼요소에 내부그림자가 나오므로 빼줌 */
input,select,textarea,button { vertical-align: middle; margin: 0; padding: 0; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }

/* textarea 리사이즈기능 빼기 */
textarea { resize: none; }

/* 모바일 크롬, 사파리의 텍스트 자동확대 방지*/
body { -webkit-text-size-adjust: none; }




/*********************** 공통스타일 *************************/
/* body 스크롤바 숨기기 */
body.on { overflow: hidden; }
/* body.on { overflow: hidden; position: fixed; left:0; top:0; width:100%; } */

body,input,button,select,textarea,table {
  font-family: 'Noto Sans KR', '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  font-size: 16px;
  color: #222;
}

/* Skip Navgation */
#skip_navi { position: relative; }
#skip_navi a {
  position: absolute;
  left: 0;
  top: -999px;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  z-index: 99999;
  text-align: center;
}
#skip_navi a:hover,#skip_navi a:active,#skip_navi a:focus { top: 0; }

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend,caption,.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

/* float해제 */
.clearfix:after { content: ''; display: block; clear: both; }

/* placeholder */
::-webkit-input-placeholder { color: #bbbbbb; } /* Webkit,크롬,사파리 */
:-moz-placeholder { color: #bbbbbb; } /* Firefox 4-18 */
::-moz-placeholder { color: #bbbbbb; opacity: 1; } /* Firefox 19+ */
:-ms-input-placeholder { color: #bbbbbb !important; } /* IE10+ */

/* 폼요소 공통 */
/* IE x버튼, password 눈모양 안보이게 */
input::-ms-clear,input::-ms-reveal { display: none; }

/* input search x버튼 안보이게 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/* 화살표제거 */
select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
/* 익스 화살표 제거 */
select::-ms-expand { display: none; }

/* 애니메이션 공통 */
.animate_01 { 
  transform: rotate( 45deg );
  transition: all ease 1s;
  opacity: 0;
}
[class*='animate_'].active {
  opacity: 1;
  transform: translate(0, 0) rotate(0);
}




#wrap { min-width: 320px; }

/* 데스크탑 헤더 */
#header {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  z-index: 9999;
  width: 150px;
}
#header .mymenu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(90%, -50%);
  z-index: 100;
  width: 100%;
  transition: all 0.5s;
}
#header .mymenu:hover { transform: translate(0%, -50%); }
#header .mymenu:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  background: #2c9b78;
  width: 170px;
  height: 100%;
  border-radius: 20px 0 0 20px;
}
#header .mymenu .ico_arrow {
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}
/* 데스크탑 헤더 메뉴 */
#header .mymenu .menu {
  background: #78c2c2;
  border-radius: 20px 0 0 20px;
}
#header .mymenu .menu>li { text-align: center; }
#header .mymenu .menu>li>a {
  display: inline-block;
  line-height: 80px;
  font-family: 'SBAggroB', sans-serif;
  font-size: 2.0rem;
  text-align: center;
  position: relative;
}
#header .mymenu .menu>li>a:hover { color: #fff; }
#header .mymenu .menu>li>a:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.5s;
}
#header .mymenu .menu>li>a:hover:after { transform: translateX(-50%) scaleX(1); }

/* 모바일 헤더 */
#header .m_mymenu { display: none; }

/* ========== 섹션 공통 ========== */
section .inner {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.main_tit {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-family: 'GoryeongStrawberry', sans-serif;
  font-size: 8.0rem;
  font-weight: 500;
  text-shadow: 2px 2px 5px #888;
}


/* ========== 타블렛 분기점 ========== */
@media (max-width:1024px) {


}

/* ========== 모바일 분기점 ========== */
@media (max-width:776px) {
  /* 데스크탑 헤더 */
  #header .mymenu { display: none; }

  /* 모바일 헤더 */
  #header {
    left: 0;
    top: 0;
    bottom: auto;
    transform: translate(0, 0);
    width: 100%;
    padding: 0 20px;
  }
  #header .m_mymenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
  }
  /* 모바일 로고 */
  #header .m_mymenu .logo .logo_motion {
    position: absolute;
    right: 20px;
    top: 20px;
    transform-origin: 50% 50%;
    width: 100px;
    height: 100px;
    border: 7px solid transparent;
    border-radius: 50%;
    border-color: #78c2c2 #fff #fff #fff;
    background: #2c9b78;
  }
  #header .m_mymenu .logo .logo_motion.on { animation: rotate-loading 3s linear 0s infinite normal; }
  #header .m_mymenu .logo .logo_txt {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    line-height: 100px;
    font-size: 2.0rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
  } 
  /* 모바일 로고 애니메이션 */
  @keyframes rotate-loading {
    0%  { 
      transform: rotate(0deg);
    }
    100%  { 
      transform: rotate(360deg);
    }
  }
  /* 모바일 헤더 메뉴 */
  #header .m_mymenu .m_menu {
    position: absolute;
    right: 0;
    top: 20px;
    transform: translateX(100%);
    width: 160px;
    border-radius: 20px 0 0 20px;
    background: #78c2c2;
    text-align: center;
    transition: all 0.5s;
  }
  #header .m_mymenu .m_menu:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background: #2c9b78;
    width: 150px;
    height: 100%;
    border-radius: 20px 0 0 20px;
  }

  #header .m_mymenu .m_menu>li>a {
    display: inline-block;
    padding: 20px 0px;
    font-family: 'SBAggroB', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    position: relative;
  }
  #header .m_mymenu .m_menu>li>a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    transform: scaleX(0);
    width: 100%;
    height: 2px;
    background: #fff;
  }
  #header .m_mymenu .m_menu>li>a:hover:after { 
    transform: scaleX(1);
    transition: all 0.5s;
  }
  #header .m_mymenu .m_menu .btn_close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    border: none;
    background: url(../images/btn_close.png) no-repeat 50% 50% / 18px;
    text-indent: -9999px;
  }
  #header .m_mymenu .m_menu.on {     transform: translateX(0%); }

  
  /* ========== 섹션 공통 ========== */
  .main_tit { font-size: 4.0rem; }

}